<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BanqueEntities" connectionString="metadata=res://*/BanqueEntities.csdl|res://*/BanqueEntities.ssdl|res://*/BanqueEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=J-MAX-WS\SQLEXPRESS;initial catalog=Banque;persist security info=True;user id=banque_admin;password=************;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>