body {
    background-color: #717F72;
}
@media only screen and (min-width: 1200px) {
    #search-image {
        background: url('../images/intro-hero.png') no-repeat center;
        max-width: 98%;
        min-height: 400px;
        margin-left: 1%;
    }
}
@media only screen and (max-width: 1200px) {
    #search-image {
        background: url('../images/intro-hero.png');
        max-width: 98%;
        min-height: 150px;
        margin-left: 1%;
    }
}
#search-bar {
    left: 50%;
    transform: translateX(-50%);
    top: 45%;
}
.login {
    color: #fff;
    background-color: #343a40;
    margin-top:50px;
    padding: 15px;
    border-radius: 10px;
}
hr {
    border-top: 1px solid white;
}
.btn.disabled {
    pointer-events: auto;
}
ul{
    list-style: none;
}
li{
    border-radius: 5px;
    margin: 5px 0;
}